<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RESET YOUR PASSWORD</h1>
    <form method="POST" action="/otpcheck/resetpassword" onsubmit="event.preventDefault()">
        <label for="newpassword">Enter Your New Password:</label>
        <input type="text" name="myNewPassword" id="newpassword" placeholder="Enter New Password">
        <label for="confirmpassword">Enter Your Confirm Password:</label>
        <input type="text" name="myConfirmPassword" id="confirmpassword" placeholder="Enter Confirm Password">
        <button type="submit">SUBMIT PASSWORD</button>
    </form>
</body>
</html>